<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:jsf="http://xmlns.jcp.org/jsf">
    <h:head>
        <title>Upload image to database and read it.</title>
    </h:head>
    <h:body>
        <p:growl id="msg"  showDetail="true"/>
        <h:form id="form" enctype="multipart/form-data">
            <p:fileUpload 
                fileUploadListener="#{uploadImageBean.handleFileUpload}" 
                update="msg" mode="advanced"/>
            
            <p:commandButton value="Show image" update="image :form:imageList" /> <br/>
            
            <p:graphicImage id="image"  value="#{uploadImageBean.showImage()}" />
            <br/>
            
            <div jsf:id="imageList">
            <ui:repeat  value="#{uploadImageBean.getAllImages()}"
                       var="image">
                    <p:graphicImage value="#{uploadImageBean.showImageByParam()}">
                        <f:param name="id" value="#{image.id}" />
                    </p:graphicImage>
            </ui:repeat>
            </div>
        </h:form>
    </h:body>
</html>

